<!DOCTYPE html> 
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KindOfSort</title>
</head> 
<body>
    <h1>Sort</h1>
    <div>
        <form method ="POST" action=''> {% csrf_token %}
            {{form.as_p}}
            <input type ="submit" value="Sort">
        </form>
    </div>

</body>

</html>
